<!-- Custom Meta Tags for Eteo Driving Theory Test -->
<meta property="og:site_name" content="eteo">
<meta property="og:url" content="https://bil.eteo.no/">
<meta property="og:title" content="Teoriprøver for bil | Klasse B | Gratis teori og prøver">
<meta property="og:type" content="website">
<meta property="og:description" content="Gratis teoriprøver for bil. Øv til teorien med samme prøver som statens vegvesen. Her lærer du alt du trenger å kunne for å bestå teoriprøven for klasse B og hvordan du skal forberede deg til å ta lappen.">
<meta property="og:image" content="https://bil.eteo.no/cdn/shop/files/eteo_social_image.svg?v=1752830517">
<meta property="og:image:secure_url" content="https://bil.eteo.no/cdn/shop/files/eteo_social_image.svg?v=1752830517">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="628">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Teoriprøver for bil | Klasse B | Gratis teori og prøver">
<meta name="twitter:description" content="Gratis teoriprøver for bil. Øv til teorien med samme prøver som statens vegvesen. Her lærer du alt du trenger å kunne for å bestå teoriprøven for klasse B og hvordan du skal forberede deg til å ta lappen.">

<!-- Canonical URL -->
<link rel="canonical" href="https://bil.eteo.no/">

<!-- Additional Meta Tags -->
<meta name="description" content="Gratis teoriprøver for bil. Øv til teorien med samme prøver som statens vegvesen. Her lærer du alt du trenger å kunne for å bestå teoriprøven for klasse B og hvordan du skal forberede deg til å ta lappen.">
<title>Teori for bil | Klasse B | Free theory and tests - eteo</title>

<!-- Custom CSS for tables -->
{{ $tablesCSS := resources.Get "css/tables.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $tablesCSS.RelPermalink }}" integrity="{{ $tablesCSS.Data.Integrity }}">
